{% extends 'base.html' %}

{% block content %}
    <div class="content" id="content">
        <h1>Add new service</h1>
        
        <form method="post" action="{{ url_for('service_management.add_service') }}">
            <div>
                <label for="service_name"> New service name:</label>
                <input id="service_name" name="service_name" required>
            </div>
            <div>
                <label for="IP">Deployment URL: (e.g. http://192.168.8.12:5000/service_name)</label>
                <input id="IP" name="IP" required>
            </div>
            <div>
                <label for="category">Category:</label>
                <input id="category" name="category" required>
            </div>
            {% if error %}
            <div class="error">
                {{ error }}
            </div>
            {% endif %}
            <div>
                <button type="submit">Select the default users who will have access to this service</button>
            </div>
            <div class="home">
                <a href="http://192.168.8.12:5000/">Home</a>
            </div>
        </form>
    </div>

    {% block extra_styles %}
    <style>
        .content {
            flex-grow: 1;
            padding: 20px;
            transition: margin-left 0.3s ease;
            margin-left: 300px;
        }
        .content.shifted {
            margin-left: 50px;
        }
        .content h1 {
            font-size: 2em;
            margin-top: 120px;
            color: #333;
        }
        .content ul {
            list-style-type: disc;
            margin-top: 50px;
            color: #555;
        }
        .content ul li {
            margin-bottom: 10px;
        }
        .content p {
            background-color: #f3f3f3;
            padding: 30px;
            width: calc(100% - 100px);
            margin: auto;
            margin-right: 50px;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 80%;
        }

        form div {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            font-size: 1em;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            font-size: 1em;
        }

        button {
            padding: 10px 20px;
            background-color: #495057;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 1em;
            cursor: pointer;
        }

        button:hover {
            background-color: #F7C679;
            color: #333;
        }
    </style>
    {% endblock %}
{% endblock %}

{% block scripts %}
<script>

    document.querySelectorAll('.category > a').forEach(function(category) {
        category.addEventListener('click', function() {
            var subcategory = this.nextElementSibling;
            var parentCategory = this.parentElement;
            if (subcategory.style.display === 'none' || subcategory.style.display === '') {
                subcategory.style.display = 'block';
                parentCategory.classList.add('open');
            } else {
                subcategory.style.display = 'none';
                parentCategory.classList.remove('open');
            }
        });
    });

    document.getElementById('toggle_sidebar').addEventListener('click', function() {
        var sidebar = document.getElementById('sidebar');
        var content = document.getElementById('content');
        var button = document.getElementById('toggle_sidebar');
        if (sidebar.classList.contains('hidden')) {
            sidebar.classList.remove('hidden');
            content.classList.remove('shifted');
            button.classList.remove('shifted');
        } else {
            sidebar.classList.add('hidden');
            content.classList.add('shifted');
            button.classList.add('shifted');
        }
    });
    function fetchData(url) {
        window.location.href = url;
    };
    function confirmDeletion() {
        return confirm("Please double-check if you are deleting the correct service. If you want to add it back later, the order in the sidebar will change. Please confirm again. If everything looks good, click Ok!");
    }    
</script>
{% endblock %}
    
