{% extends 'base.html' %}

{% block content %}
    <div class="content" id="content">
        <h1>Edit service</h1>
        <form action="../service_management/update_edit_service" method="post" style="width: 100%;">
            <div style="width: 100%; max-width: 1200px; margin: 0 auto;">
                <table id="result-table">
                    <tr>
                        <th>Service_id</th>
                        <th>Service_name</th>
                        <th>IP</th>
                        <th>Category</th>
                    </tr>
                    <tr>
                        <td>{{ select_service_info_dict.service_id }}</td>
                        <td><input type="text" name="service_name" value="{{ select_service_info_dict.service_name }}"></td>
                        <td><input type="text" name="IP" value="{{ select_service_info_dict.IP }}"></td>
                        <td><input type="text" name="category" value="{{ select_service_info_dict.category }}"></td>
                    </tr>
                </table>
                <input type="hidden" name="service_id" value="{{ select_service_info_dict.service_id }}">
                <div style="text-align: center; margin-top: 10px;">
                    <button class="btn btn-secondary btn-lg" type="submit">Okay</button>
                </div>
            </div>
        </form>
    </div>

    {% block extra_styles %}
    <style>
        #result-table td {
            font-size: 1.1em;
        }

        #result-table td.username {
            font-size: 1.1em;
        }

        #result-table td:nth-child(1),
        #result-table td:nth-child(2),
        #result-table td:nth-child(3) {
            font-size: 1.1em;
        }

        table {
            border-collapse: collapse;
            margin: 100px auto;
            width: 80%;
            overflow-x: auto;
        }
        th, td {
            padding: 8px 16px;
            text-align: center;
            position: relative;
            border-right: 1px solid #a5a2a2d7;
            line-height: 1.5;
        }
        th:last-child, td:last-child {
            border-right: none; 
        }
        tr:nth-child(odd) {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #dcdcdc;
        }
        tr:first-child th {
            position: relative;
            text-align: center;
            background-color: black;
            color: white;
            font-weight: bold;
            font-size: 1.2em;
        }
        table th:nth-child(1) {
            width: 50px;
        }
        table th:nth-child(2) {
            width: 250px;
        }
        th.edit-column, td.edit-column {
            width: 50px;
        }

        button {
            padding: 10px 20px;
            background-color: #495057;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 1em;
            cursor: pointer;
        }

        button:hover {
            background-color: #F7C679;
            color: #333;
        }

    </style>
    {% endblock %}

    {% block home %}
        <div class="home">
            <a href="http://192.168.8.12:5000/">Home</a>
        </div>
    {% endblock %}

{% endblock %}

{% block scripts %}
<script>
    document.querySelectorAll('.category > a').forEach(function(category) {
        category.addEventListener('click', function() {
            var subcategory = this.nextElementSibling;
            var parentCategory = this.parentElement;
            if (subcategory.style.display === 'none' || subcategory.style.display === '') {
                subcategory.style.display = 'block';
                parentCategory.classList.add('open');
            } else {
                subcategory.style.display = 'none';
                parentCategory.classList.remove('open');
            }
        });
    });

    document.getElementById('toggle_sidebar').addEventListener('click', function() {
        var sidebar = document.getElementById('sidebar');
        var content = document.getElementById('content');
        var button = document.getElementById('toggle_sidebar');
        if (sidebar.classList.contains('hidden')) {
            sidebar.classList.remove('hidden');
            content.classList.remove('shifted');
            button.classList.remove('shifted');
        } else {
            sidebar.classList.add('hidden');
            content.classList.add('shifted');
            button.classList.add('shifted');
        }
    });

    function fetchData(url) {
        window.location.href = url;
    };
    
</script>
{% endblock %}
