{% extends 'base.html' %}

{% block content %}
<div class="content" id="content">
    <h1>Permission overview</h1>

    <table id="result-table">
        <thead>
            <tr>
                <th>user_id</th>
                <th>User id</th>
                <th>Permissions</th>
                <th class="edit-column">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for item in user_permission %}
            <tr>
                <td>{{ item['user_id'] }}</td>
                <td class="username">{{ item['username'] }}</td>
                <td>{{ item['services_id'] }}</td>
                <td class="edit-column"><a href="{{ url_for('permission_management.change_permission', id=item['user_id'])}}" class="btn_edit">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% block extra_styles %}
    <style>
        button {
            padding: 10px 20px;
            background-color: #495057;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 1em;
            cursor: pointer;
        }

        button:hover {
            background-color: #F7C679;
            color: #333;
        }

        .content {
            flex-grow: 1;
            padding: 20px;
            transition: margin-left 0.3s ease;
            margin-left: 300px;
        }
        .content.shifted {
            margin-left: 50px;
        }
        .content h1 {
            font-size: 2em;
            margin-top: 120px;
            color: #333;
        }
        .content ul {
            list-style-type: disc;
            margin-top: 50px;
            color: #555;
        }
        .content ul li {
            margin-bottom: 10px;
        }
        .content p {
            background-color: #f3f3f3;
            padding: 30px;
            width: calc(100% - 100px);
            margin: auto;
            margin-right: 50px;
        }

        #result-table td {
            font-size: 1.1em;
        }

        #result-table td.username {
            font-size: 1.1em;
        }

        #result-table td:nth-child(1),
        #result-table td:nth-child(2),
        #result-table td:nth-child(3) {
            font-size: 1.1em;
        }

        table {
            border-collapse: collapse;
            margin: 100px auto;
            width: 80%;
            overflow-x: auto;
        }
        th, td {
            padding: 8px 16px;
            text-align: center;
            position: relative;
            border-right: 1px solid #a5a2a2d7;
            line-height: 1.5;
        }
        th:last-child, td:last-child {
            border-right: none; 
        }
        tr:nth-child(odd) {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #dcdcdc;
        }
        tr:first-child th {
            position: relative;
            text-align: center;
            background-color: black;
            color: white;
            font-weight: bold;
            font-size: 1.2em;
        }
        table th:nth-child(1) {
            width: 50px;
        }
        table th:nth-child(2) {
            width: 250px;
        }
        th.edit-column, td.edit-column {
            width: 50px;
        }

        .actions-column {
            white-space: nowrap;
        }

        .actions-column form {
            display: inline;
        }
    </style>
    {% endblock %}

    {% block home %}
        <div class="home">
            <a href="http://192.168.8.12:5000/">Home</a>
        </div>
    {% endblock %}

</div>
{% endblock %}

{% block scripts %}
<script>
    // Existing script content
    document.querySelectorAll('.category > a').forEach(function(category) {
        category.addEventListener('click', function() {
            var subcategory = this.nextElementSibling;
            var parentCategory = this.parentElement;
            if (subcategory.style.display === 'none' || subcategory.style.display === '') {
                subcategory.style.display = 'block';
                parentCategory.classList.add('open');
            } else {
                subcategory.style.display = 'none';
                parentCategory.classList.remove('open');
            }
        });
    });

    document.getElementById('toggle_sidebar').addEventListener('click', function() {
        var sidebar = document.getElementById('sidebar');
        var content = document.getElementById('content');
        var button = document.getElementById('toggle_sidebar');
        if (sidebar.classList.contains('hidden')) {
            sidebar.classList.remove('hidden');
            content.classList.remove('shifted');
            button.classList.remove('shifted');
        } else {
            sidebar.classList.add('hidden');
            content.classList.add('shifted');
            button.classList.add('shifted');
        }
    });

    function fetchData(url) {
        window.location.href = url;
    };

    // Search functionality
    document.getElementById('searchTerm').addEventListener('input', function() {
        var filter = this.value.toUpperCase();
        var rows = document.querySelectorAll('#result-table tbody tr');

        rows.forEach(function(row) {
            var username = row.querySelector('.username').textContent.toUpperCase();
            if (username.indexOf(filter) > -1) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
    
</script>
{% endblock %}
